<div>
  <body>
  <div class="main-container container-fluid">
    <div class="bigbutton">
      <%=link_to 'Add Story', new_video_path, class: "btn-big btn-info" %>
    </div>

    <% @tags.all.each do |tag| %>
    <section class="row-container">     
      <div class="hashcontainer">
        <p><%=tag.name%></p>
        <br>
        <br>
        <%=link_to 'Stitch', stitch_path, class: "btn btn-info" %>
      </div>
      <% tag.videos.all.each do |video| %>
        <div class="row-video">        
          <iframe frameborder="0" width="256" height="144" id="ytplayer" name="ytplayer" src= "https://www.youtube.com/embed/<%=video.uid%>?controls=0&modestbranding=1&autohide=1"></iframe> 
        </div>
      <% end %>      
    </section>
    <% end %>
  </div>
</div>

