<header>


      <nav class="navbar1 navbar-inverse navbar-static-top">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li class="active"><span class="sr-only">(current)</span></a></li>
           <li><a href="#">Home</a></li>
           <!-- <li><a href="#">Sign in</a></li>
           <li><a href="#">Sign up</a></li> -->
           <% if current_user %>
             <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
             <li><%= link_to 'Add Video', new_video_upload_path %></li>
          <% else %>
             <li><%= link_to 'Log In', '/auth/google_oauth2' %></li>
          <% end %>

        </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>





</header>
