<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li class="active"><span class="sr-only">(current)</span></a></li>
           <li ><a href="#">Home</a></li>
           <li><a href="#">Sign in</a></li>
           <li><a href="#">Sign up</a></li>
           <li><a href="#">Logout</a></li>
        </ul>
        <div class="bigbutton">
          <%= button_to 'Add Story', new_video_path, class: "btn-big btn-default  ",:method => :get %>
        </div>
      </div>
    </nav>
</header>
