/*page text*/






/*Buttons*/

.bigbutton {
  text-align: center;
}

.btn-big {

  font-size: 50px;
  width: 10em;
}


.submitbtn { color: black;text-align: center; margin-top: 5em;}

/*Containers*/

.vidcontainer1{
  margin: 0 auto;
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;

}

/*input fields */

.inputform{font-size: 20px;text-align: center;margin-top: 5em;}


.formcontainer{ width:30em; height:15em; margin:0 auto; margin-top: 5em; background-color:#bdc3c7; border-radius: 10px; padding:1em;
 box-shadow:1px 1px 3px rgba(0,0,0,.3); color: white;}


 .inputfields{font-size: 1em;color: black; text-align: center; margin-top: 2em;}

/*Sections*/

.row{
 text-align: center;
 width: 0 auto;
 height: 30em;
 background-color: #444;
 border-radius: 1em;
 padding:1em;
 margin-top:2em;
 box-shadow:1em 1em 3em rgba(0,0,0,.3);
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;


}

.hashcontainer{

 text-align: left;
 float: left;
 white-space: nowrap;
}

.field_with_errors {
  color: red;
}






/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
