



  /*@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

  }*/





/*Flash messages*/

.pop{
  color : white;
  vertical-align: middle;
  margin-left: 200px;
  width: 500px;
  margin-top: 15px;
}

 /*Buttons*/




.stitch-btn { background-color: #e74c3c; color: white;}


.submitbtn { color: black;text-align: center; margin-top: 5em;}


/*input fields */

.inputform{font-size: 20px;text-align: center;margin-top: 5em;}


.formcontainer{ width:30em; height:15em; margin:0 auto; margin-top: 5em; background-color:#bdc3c7; border-radius: 10px; padding:1em;
 box-shadow:1px 1px 3px rgba(0,0,0,.3); color: white;}


 .inputfields{font-size: 1em;color: black; text-align: center; margin-top: 2em;}

 .navbar1 {

   margin-bottom: 0;


   }

/*Containers*/

.video-header {

  position: relative;
  overflow: hidden;

}

video#bgvid {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}

.logo{

  margin: 10% 0 10% 0;
  opacity: 0.8;
}

.add-stitch{

  text-align: center;
  font-size: 5em;
  background: #e67e22;
}

a.create-btn {

  color: white;
  text-decoration: none !important;
}

#tagname { text-align: center;}

.scrollbox {

margin-top: 2em;
margin-bottom: 2em;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}

.icon1 {

font-size: 5em;
text-decoration: none !important;
color: white;
}

.stitchtext {

  color: white;
  font-size: 2em;
}

.addtext {

  color: white;
  font-size: 1.5em;
}
.centerstitch{
margin-top: 7em;
}

.centeradd {

margin-top: 7em;

}



/*.video-header img {
    min-height: 250px;
    padding-bottom: 50px;
    margin-top: 50px;
    -moz-box-shadow:  0 2px 5px 0 #333;
    -webkit-box-shadow: 0 2px 5px 0 #333;
    box-shadow: 0 2px 5px 0 #333;
    position: absolute;
    overflow: hidden;

}*/

/*.hashcontainer{

 float: left;
 white-space: nowrap;
 position: relative;
 margin-top: 3em;
 width: 5em;

}*/

/*.hashcontainer h3 {

  margin-left: 0.5em;
  margin-top: 1.2em;
  color: #e74c3c;

}*/

/*.hashcontainer button {

  margin-left: 0.5em;
  margin-top: 1em;

}*/




/*.row-container{

 width: 0 auto;
 height: 25em;
 border: 3px solid #e74c3c;
 margin-top:2em;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;

}*/

/*.row-video{

 position: relative;
 width: 80%;
 margin-left: 15.5em;
 margin-top: 5em;
 height: 15em;
 background-color: #444;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
}
*/
/*#append-vid{ border: 3px solid black;
             width: 256px;
             height: 144px;
           }*/


/*iframe { margin: 2em 0 0 2.5em;}*/

/*#stitch {

  height: 30px;
  width: 30px;

}*/

.sample{ float: left;}

@media (max-width: 400px) {

  iframe{ margin: 0;}

  .mobile-header { text-align: center; background-color: #e74c3c; width: 100%; height: 20em; margin-top: 0;}

  .mobile-header h3 { padding-top: 3em; color: white; font-size: 40px;}

  .sample{float: right;}

  .create-btn{ margin-top: 2em; background-color: white; color: #e74c3c;}

  .stitch-container { margin: 0;}

  #tagname-mobile { text-align: center; color: white;}

  .row-container { border: none; margin-top: 0;}

  .add { margin-top: 2.5%; margin-left: 45%; padding-bottom: 3px; color: white;}

}
