

/*Sign in modal */


#smallModal{


top:48%;

}

.modal-header{
  color: white;
  background-color: #444;

}

.modal-body{

  background-color:#2ecc71;

}

.modal-footer{
  background-color:#3498db;
  text-align: center;
}

/*Flash messages*/

.pop{
  color : white;
  vertical-align: middle;
  margin-left: 200px;
  width: 500px;
  margin-top: 15px;
}

 /*Buttons*/




.stitch-btn { background-color: #e74c3c; color: #FAFAFA;}


.submitbtn { color: black;text-align: center; margin-top: 5em;}


/*input fields */

.inputform{font-size: 20px;text-align: center;margin-top: 5em;}


.formcontainer{ width:30em; height:15em; margin:0 auto; margin-top: 5em; background-color:#bdc3c7; border-radius: 10px; padding:1em;
 box-shadow:1px 1px 3px rgba(0,0,0,.3); color: white;}


 .inputfields{font-size: 1em;color: black; text-align: center; margin-top: 2em;}

 .navbar1 {

   margin-bottom: 0;


   }

/*Containers*/

.video-header {

  position: relative;
  overflow: hidden;

}

video#bgvid {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background-size: cover;
}

.logo{

  margin: 10% 0 10% 0;
}

.add-stitch{

  text-align: center;
  font-size: 5em;
  background: white;
}

a.create-btn {

  color: #878787;
  text-decoration: none !important;
}



#tagname {

 text-align: center;
 color: #FAFAFA;
 font-size: 4.5em;
}



.scrollbox {

margin-top: 2em;
margin-bottom: 2em;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;

}

.icon1 {

font-size: 5em;
text-decoration: none !important;
color: #FAFAFA;
}

.stitchtext {

  color: #FAFAFA;
  font-size: 2em;
}

.addtext {

  color: #FAFAFA;
  font-size: 1.5em;
}
.centerstitch{
margin-top: 7em;
}

.centeradd {

margin-top: 7em;

}


/*.video-header img {
    min-height: 250px;
    padding-bottom: 50px;
    margin-top: 50px;
    -moz-box-shadow:  0 2px 5px 0 #333;
    -webkit-box-shadow: 0 2px 5px 0 #333;
    box-shadow: 0 2px 5px 0 #333;
    position: absolute;
    overflow: hidden;

}*/

/*.hashcontainer{

 float: left;
 white-space: nowrap;
 position: relative;
 margin-top: 3em;
 width: 5em;

}*/

/*.hashcontainer h3 {

  margin-left: 0.5em;
  margin-top: 1.2em;
  color: #e74c3c;

}*/

/*.hashcontainer button {

  margin-left: 0.5em;
  margin-top: 1em;

}*/




/*.row-container{

 width: 0 auto;
 height: 25em;
 border: 3px solid #e74c3c;
 margin-top:2em;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;

}*/

/*.row-video{

 position: relative;
 width: 80%;
 margin-left: 15.5em;
 margin-top: 5em;
 height: 15em;
 background-color: #444;
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
}
*/
/*#append-vid{ border: 3px solid black;
             width: 256px;
             height: 144px;
           }*/


/*iframe { margin: 2em 0 0 2.5em;}*/

/*#stitch {

  height: 30px;
  width: 30px;

}*/

.sample{ float: left;}

@media (max-width: 420px) {

  iframe{ width: 327px;}

 .mobile-header { text-align: center; background-color: #e74c3c;}

  .mobile-header h3 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 6em;
  }

  .add-stitch { font-size: 2.5em; padding: 1em 0 1em 0;}

  .sample{float: right;}

  .centerstitch {

    margin: 0.1em;
  } .centeradd {
    margin: 0.1em;
  }

}


  /*

  .create-btn{ margin-top: 2em; background-color: white; color: #e74c3c;}

  .stitch-container { margin: 0;}

  #tagname-mobile { text-align: center; color: white;}

  .row-container { border: none; margin-top: 0;}

  .add { margin-top: 2.5%; margin-left: 45%; padding-bottom: 3px; color: white;}

}
*/